.container
    .content__directions--top
        .arrow-left
        h2 Основные направления
        .arrow-right
        .content__directions--slider
            .directions.directions-1
                img(src="./assets/img/content/directions/directions1.jpg", alt="Напраление 1")
                h3 Лечение бесплодия и невынашивания беременности
                p Наши методы лечения женского и мужского бесплодия основаны на передовых технологиях...
                a(href="#").info Подробнее
            .directions.directions-2
                img(src="./assets/img/content/directions/directions2.jpg", alt="Напраление 2")
                h3 Лечение бесплодия и невынашивания беременности
                p Наши методы лечения женского и мужского бесплодия основаны на передовых технологиях...
                a(href="#").info Подробнее
            .directions.directions-3
                img(src="./assets/img/content/directions/directions3.jpg", alt="Напраление 3")
                h3 Лечение бесплодия и невынашивания беременности
                p Наши методы лечения женского и мужского бесплодия основаны на передовых технологиях...
                a(href="#").info Подробнее
            .directions.directions-4
                img(src="./assets/img/content/directions/directions4.jpg", alt="Напраление 4")
                h3 Лечение бесплодия и невынашивания беременности
                p Наши методы лечения женского и мужского бесплодия основаны на передовых технологиях...
                a(href="#").info Подробнее
            .directions.directions-5
                img(src="./assets/img/content/directions/directions5.jpg", alt="Напраление 5")
                h3 Лечение бесплодия и невынашивания беременности
                p Наши методы лечения женского и мужского бесплодия основаны на передовых технологиях...
                a(href="#").info Подробнее