block content
	.content__separation
	.content
		.content__top
			include ./content__top.pug
		.separation--dashed
		.content__directions
			include ./content__directions.pug		
		.content__hero
			include ./content__hero.pug
		.content__news
			include ./content__news.pug
		.content__specialists
			include ./content__specialists.pug
		.content__sertificates
			include ./content__sertificates.pug
		.content__reviews
			include ./content__reviews.pug
		.content__form
			include ./content__form.pug