.container
    .content__reviews--top
        h2 Отзывы наших пациентов
    .content__reviews--slider
        .slider__reviews
            .reviews__block        
                a(href="#").reviews-pic.pic__odd
                .reviews-main
                    a(href="#").reviews-main-name
                        | Наталья
                    a(href="#").reviews-main-comment
                        | Хочу сказать,что я не пожалела о своем выборе клиники. Очень приятный и вежливый персонал, особая благодарность Людмиле Владимировне!Пришла по не...
            .reviews__block
                a(href="#").reviews-pic.pic__even
                .reviews-main
                    a(href="").reviews-main-name
                        | Анфиса
                    a(href="#").reviews-main-comment
                        | И я хочу оставить положительный отзыв. Долго искала клинику, чтоб сделать вакуум, читала отзывы....В результате обратилась в Фемина Лайт. Все прошло хорошо...
            .reviews__block        
                a(href="#").reviews-pic.pic__odd
                .reviews-main
                    a(href="#").reviews-main-name
                        | Наталья
                    a(href="#").reviews-main-comment
                        | Хочу сказать,что я не пожалела о своем выборе клиники. Очень приятный и вежливый персонал, особая благодарность Людмиле Владимировне!Пришла по не...
            .reviews__block
                a(href="#").reviews-pic.pic__even
                .reviews-main
                    a(href="").reviews-main-name
                        | Анфиса
                    a(href="#").reviews-main-comment
                        | И я хочу оставить положительный отзыв. Долго искала клинику, чтоб сделать вакуум, читала отзывы....В результате обратилась в Фемина Лайт. Все прошло хорошо...