.container
    .content__form--container
        p.form__description Запишитесь на прием
        form(action="" method="GET").form__block
            input(type="text" name="name" value="" placeholder="Имя" maxlength="20")
            input(type="tel" name="tel" value="" placeholder="Телефон" maxlength="20")
            input(type="submit" name="button" value="Отправить заявку").button
