.container
    .content__specialists--top
        h2 Наши специалисты
    .content__specialists--slider           
        .slider
            .specialists.specialists-1
                img(src="./assets/img/content/specialists/specialists1.jpg", alt="Хорина Галина Васильевна")
                h4 Хорина Галина Васильевна
                p Врач акушер-гинеколог первой категории
                .container__button
                    a(href="#").button Подробнее
            .specialists.specialists-2
                img(src="./assets/img/content/specialists/specialists2.jpg", alt="Хорина Галина Васильевна")
                h4 Мирзоян Жасмен Владимировна
                p Врач акушер-гинеколог, кандидат мед.наук
                .container__button
                    a(href="#").button Подробнее
            .specialists.specialists-3
                img(src="./assets/img/content/specialists/specialists3.jpg", alt="Хорина Галина Васильевна")
                h4 Попович Ольга Михайловна
                p Врач-остеопат, терапевт, невролог
                .container__button
                    a(href="#").button Подробнее
            .specialists.specialists-4
                img(src="./assets/img/content/specialists/specialists4.jpg", alt="Хорина Галина Васильевна")
                h4 Губанова Татьяна Ивановна
                p Врач-остеопат, терапевт, невролог
                .container__button
                    a(href="#").button Подробнее
            .specialists.specialists-5
                img(src="./assets/img/content/specialists/specialists1.jpg", alt="Хорина Галина Васильевна")
                h4 Хорина Галина Васильевна
                p Врач акушер-гинеколог первой категории
                .container__button
                    a(href="#").button Подробнее
            .specialists.specialists-6
                img(src="./assets/img/content/specialists/specialists2.jpg", alt="Хорина Галина Васильевна")
                h4 Мирзоян Жасмен Владимировна
                p Врач акушер-гинеколог, кандидат мед.наук
                .container__button
                    a(href="#").button Подробнее
            .specialists.specialists-7
                img(src="./assets/img/content/specialists/specialists3.jpg", alt="Хорина Галина Васильевна")
                h4 Попович Ольга Михайловна
                p Врач-остеопат, терапевт, невролог
                .container__button
                    a(href="#").button Подробнее
            .specialists.specialists-8
                img(src="./assets/img/content/specialists/specialists4.jpg", alt="Хорина Галина Васильевна")
                h4 Губанова Татьяна Ивановна
                p Врач-остеопат, терапевт, невролог
                .container__button
                    a(href="#").button Подробнее