.container
    .content__form--bg
        p.form__description Запишитесь на прием
        form(action="" method="GET").form__block
            input(type="text" name="" value="" placeholder="Имя" maxlength="20")
            input(type="telephone" name="" value="" placeholder="Телефон" maxlength="20")
            input(type="submit" name="button" value="Отправить заявку")
