.container
    .content__reviews--top
        h2 Отзывы наших пациентов
    .content__reviews--slider
        .reviews__arrow--top
            .reviews__block
                .reviews-pic
                .reviews-main
                    p.reviews-main-name Наталья
                    p.reviews-main-comment Хочу сказать,что я не пожалела о своем выборе клиники. Очень приятный и вежливый персонал, особая благодарность Людмиле Владимировне!Пришла по не...
            .reviews__block
                .reviews-pic
                .reviews-main
                    p.reviews-main-name Анфиса
                    p.reviews-main-comment И я хочу оставить положительный отзыв. Долго искала клинику, чтоб сделать вакуум, читала отзывы....В результате обратилась в Фемина Лайт. Все прошло хорошо...
        .reviews__arrow--bottom