.container
	menu.content__top--menu
		.content__top--menu-border
			ul
				li
					a(href="#") Гинекология
						span
				li
					a(href="#") Гинекологическая эндокринология
						span
				li
					a(href="#") Ведение беременности
						span
				li
					a(href="#") Урология-Андрология
						span
				li
					a(href="#") УЗИ
						span
				li
					a(href="#") Гомеопатия
						span
				li
					a(href="#") Остеопатия
						span
				li
					a(href="#") Лабораторные исследования
						span
	.content__top--about
		section.about__description
			h1 Центр гинекологии «Фемина Лайт»
			p Медицинский центр женского здоровья «Фемина Лайт» предлагает высококвалифицированную помощь по сохранению и поддержанию здоровья женщин.
			p
				strong "Фемина лайт"
					| - это опытные и внимательные врачи, имеющие высшие квалификационные категории и ученые степени.
			p Научным консультантом нашего медицинского центра является - Заведующий кафедрой акушерства, гинекологии и репродуктивной медицины РУДН,
				br
				| Заслуженный деятель науки РФ, Академик Международной академии наук Высшей школы, Профессор, Доктор медицинских наук Радзинский Виктор Евсеевич.
		section.about__hero
			figure
				img(src="", alt="Радзинский Виктор Евсеевич")
				figcaption
					span.hero--bold Радзинский Виктор Евсеевич