.container    
    .content__hero--left
        figure
            img(src="./assets/img/avatar/doctor-avatar.png", alt="Главный врач")
            figcaption
                span.hero--bold Олферт Виктория Витальевна
                p Главный врач, гинеколог-эндокринолог, кандидат медицинских наук
    .content__hero--right        
        .content__hero--right-border
            p Сегодня в Москве довольно мало медицинских центров достойного уровня. С одной стороны, есть бюджетные учереждения со страшными очередями и безразличным отношением к пациентам, а с другой – платные клиники, многие из которых навязывают своим клиентам дополнительные услуги, стремясь заработать как можно больше и быстрее. Это касается и центров женского здоровья, и клиник генекологии, и центров планирования семьи.
            p Цель, которую мы поставили себе 8 лет назад, – это предоставление медицинских услуг европейского уровня в Москве. Вместо разового навязывания ненужных процедур своим пациенткам, мы хотим стать для них надежным партнером и помощником на долгий срок.
            p Поэтому высшей оценкой нашей работы являются положительные отзывы и рекомендации нас родным и знакомым.
