.container
    .content__sertificates--top
        h3 Наши специалисты
    .content__sertificates--slider
        .sertificates__arrow--left
        .sertificates.sertificates-1
            img(src="./assets/img/content/sertificate/sertificate1.jpg", alt="Сертификат 1")
        .sertificates.sertificates-2
            img(src="./assets/img/content/sertificate/sertificate2.jpg", alt="Сертификат 2")
        .sertificates.sertificates-3
            img(src="./assets/img/content/sertificate/sertificate3.jpg", alt="Сертификат 3")
        .sertificates.sertificates-4
            img(src="./assets/img/content/sertificate/sertificate4.jpg", alt="Сертификат 4")
        .sertificates__arrow--right
