.container
	.content__top--menu
		.content__top--menu-border
			ul
				li
					a(href="#") Гинекология
						.arrow
				li
					a(href="#") Гинекологическая эндокринология
						.arrow
				li
					a(href="#") Ведение беременности
						.arrow
				li
					a(href="#") Урология-Андрология
						.arrow
				li
					a(href="#") УЗИ
						.arrow
				li
					a(href="#") Гомеопатия
						.arrow
				li
					a(href="#") Остеопатия
						.arrow
				li
					a(href="#") Лабораторные исследования
						.arrow
	.content__top--about
		.about__description
			h1 Центр гинекологии «Фемина Лайт»
			p Медицинский центр женского здоровья «Фемина Лайт» предлагает высококвалифицированную помощь по сохранению и поддержанию здоровья женщин.
			p
				strong "Фемина лайт"
				|  - это опытные и внимательные врачи, имеющие высшие квалификационные категории и ученые степени.
			p Научным консультантом нашего медицинского центра является - Заведующий кафедрой акушерства, гинекологии и репродуктивной медицины РУДН,
				br
				| Заслуженный деятель науки РФ, Академик Международной академии наук Высшей школы, Профессор, Доктор медицинских наук Радзинский Виктор Евсеевич.
		.about__hero
			figure
				img(src="./assets/img/avatar/hero-avatar.jpg", alt="Радзинский Виктор Евсеевич")
				figcaption
					span.hero--bold Радзинский Виктор Евсеевич