.container
    .content__sertificates--top
        h2 Наши сертификаты
    .content__sertificates--slider
        .slider__sertificates         
            .sertificates.sertificates-1
                img(src="./assets/img/content/sertificate/sertificate1.jpg", alt="Сертификат 1")
            .sertificates.sertificates-2
                img(src="./assets/img/content/sertificate/sertificate2.jpg", alt="Сертификат 2")
            .sertificates.sertificates-3
                img(src="./assets/img/content/sertificate/sertificate3.jpg", alt="Сертификат 3")
            .sertificates.sertificates-4
                img(src="./assets/img/content/sertificate/sertificate4.jpg", alt="Сертификат 4")
            .sertificates.sertificates-5
                img(src="./assets/img/content/sertificate/sertificate1.jpg", alt="Сертификат 5")
            .sertificates.sertificates-6
                img(src="./assets/img/content/sertificate/sertificate2.jpg", alt="Сертификат 6")
            .sertificates.sertificates-7
                img(src="./assets/img/content/sertificate/sertificate3.jpg", alt="Сертификат 7")
            .sertificates.sertificates-8
                img(src="./assets/img/content/sertificate/sertificate4.jpg", alt="Сертификат 8")