.container
    .content__directions--top        
        h2 Основные направления        
    .content__directions--slider
        .slider__directions
            .directions.directions-1
                img(src="./assets/img/content/directions/directions1.jpg", alt="Напраление 1")
                h3 Лечение бесплодия и невынашивания беременности
                p Наши методы лечения женского и мужского бесплодия основаны на передовых технологиях...
                a(href="#").info Подробнее
            .directions.directions-2
                img(src="./assets/img/content/directions/directions2.jpg", alt="Напраление 2")
                h3 Гинекологическая эндокринология (наука о гормонах)
                p Основой основ женского здоровья в целом и ее детородной функции в частности является...
                a(href="#").info Подробнее
            .directions.directions-3
                img(src="./assets/img/content/directions/directions3.jpg", alt="Напраление 3")
                h3 Школа материнства (подготовка к родам, уход за ребенком)
                p Рождение ребенка - серьезное испытание для организма женщины, поэтому у многих...
                a(href="#").info Подробнее
            .directions.directions-4
                img(src="./assets/img/content/directions/directions4.jpg", alt="Напраление 4")
                h3 Остеопатия (разновидность мануальной терапии)
                p Остеопатия - система альтернативной медицины, рассматривающая в качестве первичной...
                a(href="#").info Подробнее
            .directions.directions-5
                img(src="./assets/img/content/directions/directions5.jpg", alt="Напраление 5")
                h3 Гомеопатия (альтернативная медицина)
                p Гомеопатия – это особый метод лечения многих болезней, в том числе протекающих в тяжелых...
                a(href="#").info Подробнее
            .directions.directions-6
                img(src="./assets/img/content/directions/directions1.jpg", alt="Напраление 6")
                h3 Лечение бесплодия и невынашивания беременности
                p Наши методы лечения женского и мужского бесплодия основаны на передовых технологиях...
                a(href="#").info Подробнее
            .directions.directions-7
                img(src="./assets/img/content/directions/directions2.jpg", alt="Напраление 7")
                h3 Гинекологическая эндокринология (наука о гормонах)
                p Основой основ женского здоровья в целом и ее детородной функции в частности является...
                a(href="#").info Подробнее
            .directions.directions-8
                img(src="./assets/img/content/directions/directions3.jpg", alt="Напраление 8")
                h3 Школа материнства (подготовка к родам, уход за ребенком)
                p Рождение ребенка - серьезное испытание для организма женщины, поэтому у многих...
                a(href="#").info Подробнее
            .directions.directions-9
                img(src="./assets/img/content/directions/directions4.jpg", alt="Напраление 9")
                h3 Остеопатия (разновидность мануальной терапии)
                p Остеопатия - система альтернативной медицины, рассматривающая в качестве первичной...
                a(href="#").info Подробнее
            .directions.directions-10
                img(src="./assets/img/content/directions/directions5.jpg", alt="Напраление 10")
                h3 Гомеопатия (альтернативная медицина)
                p Гомеопатия – это особый метод лечения многих болезней, в том числе протекающих в тяжелых...
                a(href="#").info Подробнее