.container
    .content__news--top
        h2 Новости и акции
    .content__news--center        
        .news.news-1
            img(src="./assets/img/content/news/news1.jpg", alt="Новости и Акции 1")
            h3 “Фемина Лайт” приглашает на лекции по подготовке к родам
            p Вы ожидаете рождение малыша? Специалисты клиники “Фемина Лайт” знают какие вопросы волнуют вас больше всего...
            a(href="#").info Подробнее    
        .news.news-2
            img(src="./assets/img/content/news/news2.jpg", alt="Новости и Акции 2")
            h3 “Фемина Лайт” приглашает на лекции по подготовке к родам
            p Вы ожидаете рождение малыша? Специалисты клиники “Фемина Лайт” знают какие вопросы волнуют вас больше всего...
            a(href="#").info Подробнее    
        .news.news-3
            img(src="./assets/img/content/news/news3.jpg", alt="Новости и Акции 3")
            h3 “Фемина Лайт” приглашает на лекции по подготовке к родам
            p Вы ожидаете рождение малыша? Специалисты клиники “Фемина Лайт” знают какие вопросы волнуют вас больше всего...
            a(href="#").info Подробнее
    .content__news--bottom
        a(href="#").button Все новости