block footer
	footer.footer
		.container
			.footer__block--left
				.footer__logo
					a(href="#").logo
						img(src="./assets/img/logo/logo-footer.png", alt="Логотип Femina").logo__img
				.footer__contacts
					.footer__contacts--phone
						span.phone + 7 (499) 762 62 00
						span.phone + 7 (499) 762 62 02
			nav.footer__nav
				ul
					li
						a(href="#")
							|  О нашем центре
					li
						a(href="#")
							|  Специалисты центра
					li
						a(href="#")
							|  Консультация онлайн
					li
						a(href="#")
							|  Статьи
					li
						a(href="#")
							|  Отзывы
					li
						a(href="#")
							|  Контакты

			.footer__menu
				ul
					li
						a(href="#") Гинекология
					li
						a(href="#") Эндокринология
					li
						a(href="#") Ведение беременности
					li
						a(href="#") Урология-Андрология
					li
						a(href="#") Лечение бесплодия
					li
						a(href="#") УЗИ
					li
						a(href="#") Гомеопатия
					li
						a(href="#") Остеопатия
					li
						a(href="#") Лабораторные исследования
			.footer__block--right
				.worktime-block
					span.worktime-day ПН-СБ
					span.worktime-time с 09.00 до 21.00
				.social-block
					ul
						li.social__item
							a(href="http://twitter.com/").social__link.social__link__tw
						li.social__item
							a(href="http://facebook.com/").social__link.social__link__fb
						li.social__item
							a(href="http://vk.com/").social__link.social__link__vk