block header
	header.header.header__bg
		.container
			.header__logo
				a(href="#").logo
					img(src="./assets/img/logo/logo-header.png", alt="Логотип Femina").logo__img
			nav.header__nav
				ul
					li
						a(href="#") 
							span.arrow 
							|  О нашем центре
					li
						a(href="#")
							span.arrow
							|  Специалисты центра
					li
						a(href="#")
							span.arrow
							|  Консультация on-line
					li
						a(href="#")
							span.arrow
							|  Статьи
					li
						a(href="#")
							span.arrow
							|  Отзывы
					li
						a(href="#")
							span.arrow
							|  Контакты
					li
						a(href="#")
							span.arrow
							|  Наши сертификаты
			.header__contacts
				.header__contacts--worktime
					img(src="./assets/img/icons/clock.png", alt="Время работы").worktime-img
					.worktime-block
						span.worktime-day ПН-СБ
						span.worktime-time 09.00 – 21.00
				.header__contacts--phone
					span.phone + 7 (499) 762 62 00
					span.phone + 7 (499) 762 62 02
				.header__contacts--adress
					span г. Москва, ул. Гризодубовой, д. 4, корп. 3