.content__reviews {
    width: 100%;
    height: 404px;
    background-image: url("../img/bg/bg-reviews.jpg");
    background-repeat: no-repeat;
}

.content__reviews--top {
    padding-top: 37px;
    padding-bottom: 6px;
    text-align: center;
    text-transform: uppercase;   
}

.content__reviews--slider {
    display: block;
    width: 805px;
    height: 335px;
    margin: 0 auto;   
}

.reviews__block {
    width: 803px;
    height: 108px;
    margin-bottom: 17px;
    margin-top: 17px;
    border: 1px solid #909285;
    background-color: $white;
}

.reviews-pic {
    width: 118px;
    height: 106px;
    float: left;
}

.pic__odd {
    background-image: url("../img/icons/rew2.png");
}

.pic__even {
    background-image: url("../img/icons/rew1.png");
}

.reviews-main {    
    width: 683px;
    height: 106px;
    float: right;
}

.reviews-main-name {
    display: block;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    padding-bottom: 10px;
    color: #323232;  
}

.reviews-main-comment {
    display: block;
    padding-left: 15px;
    padding-right: 15px;
    color: #595959;
}

/*Стили для слайдера*/
.slider__reviews {
    .slick-prev {
        display: block;
        width: 0;
        height: 0;
        border-left: 28px solid transparent;
        border-right: 28px solid transparent;
        border-bottom: 33px solid #e3740e;
        margin: 0 auto;
        left: -55px;        
    }

    .slick-next {
        display: block;
        width: 0;
        height: 0;
        border-left: 28px solid transparent;
        border-right: 28px solid transparent;
        border-top: 33px solid #e3740e;
        margin: 0 auto;
        right: -50px; 
    }


    .slick-prev:before {
        content: "";
        width: 28px;
        height: 33px;
    }

    .slick-next:before {
        content: "";
        width: 28px;
        height: 33px;
    }
}

