.header {
	position: relative;
	color: $white;
	font-family: Calibri, sans-serif;
	font-weight: bold;
	font-size: 15px;
	@include clearfix;

	& a {
		color: $white;
	}
}

.header__bg {
	margin: 0 auto;	
	background-image: url("../img/bg/bg-header.jpg");
	background-repeat: no-repeat;	
}

.header__logo, .header__nav {
	float: left;
}

.header__logo {
	margin-top: 31px;
	margin-bottom: 106px;
}

.header__nav {
	margin-left: 40px;
	margin-top: 20px;
	margin-bottom: 70px;

	& a {
		transition: 0.3s ease;
	}

	& a:hover {
		/*font-size: 16px;*/
		padding: 10px 0 10px 15px;
		
	}

	& li {
		margin-top: 5px;
		border-bottom: 1px dashed $header-li-border;
	}

	& li:first-child {
		margin-top: 0;
	}

	& li:last-child {
		border-bottom: none;
	}
}

.header__contacts {	
	float: right;
	padding-top: 12px;
}

.header__contacts--worktime, .header__contacts--phone {
	font-size: 20px;
}

.header__contacts--worktime {
	padding-bottom: 32px;
	@include clearfix;
}

.header__contacts--phone {	
	padding-bottom: 25px;
}