.worktime-img {
    float: left;
    width: 71px;
    height: 71px;
}

.worktime-block {
    padding-top: 13px;
    float: left;
    margin-left: 22px;
    font-family: Calibri, sans-serif;
    font-size: 16px;
    font-weight: bold;    
}

.worktime-day, .worktime-time {
    display: block;
}